<h1>Hello User</h1>

<body>
    <div class="login">
        <h1>Boston House Price Prediction</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict') }}" method="post">
            <input type="text" name="CRIM" placeholder="Crime Rate in Municipality" required /><br>
            <input type="text" name="ZN" placeholder="Zoning for Large Lots" required /><br>
            <input type="text" name="INDUS" placeholder="Industrial Proportion of Land" required /><br>
            <input type="text" name="CHAS" placeholder="Charles River Proximity Indicator" required /><br>
            <input type="text" name="NOX" placeholder="Nitrogen Oxides Concentration" required /><br>
            <input type="text" name="RM" placeholder="Rooms per Dwelling" required /><br>
            <input type="text" name="Age" placeholder="Age of Housing Units" required /><br>
            <input type="text" name="DIS" placeholder="Distance to Employment Centers" required /><br>
            <input type="text" name="RAD" placeholder="Accessibility to Radial Highway" required /><br>
            <input type="text" name="TAX" placeholder="Property Tax Rate per $10,000" required /><br>
            <input type="text" name="PTRATIO" placeholder="Pupil-Teacher Ratio in Schools" required /><br>
            <input type="text" name="B" placeholder="Proportion of Black Residents" required /><br>
            <input type="text" name="LSTAT" placeholder="Lower-Status Population Percentage" required /><br>

            <button type="submit">Predict</button>
        </form>

        <br><br>

        
            
        
    </div>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
